.list-group-horizontal .list-group-item {
    display: inline-block;
    width: 13rem;
}

.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left:-4px;
    margin-right: 0;
    border-right-width: 0;
}
.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius:0;
    border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius:4px;
    border-bottom-left-radius:0;
    border-right-width: 1px;
}

.rwd-table {
  margin: 1em 0;
  min-width: 500px;
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;

}

th {
  color: yellow;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

th, td {
    padding: .5em;
}
